@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  font-family: "Montserrat", sans-serif !important;
  margin: 0;
  text-align: center;
  background: url("img/background.jpg");
}

h1 {
  font-size: 3.3rem;
  margin: 0.5em 0;
}

h2 {
  font-size: 2rem;
  color: #ffffff;
  padding-bottom: 2vh;
}

.header {
  padding: 3vh 0;
  background-color: #e5e5e5;
  color: #27052b;
  height: 24vh;
}

.btn-container {
  margin: 0.5em 0 2em 0;
}

.header button {
  font-family: "Montserrat", sans-serif !important;
  font-size: 1.5rem;
  width: 8em;
  cursor: pointer;
  margin: 0 0.5rem;
  padding: 0.6em 0;
  border: none;
  border-radius: 8px;
  color: #ffffff;
}

.btn-temp {
  background-color: #3d1245;
}
.btn-temp:hover {
  background-color: #71247b;
}

.btn-length {
  background-color: #251c59;
}
.btn-length:hover {
  background-color: #443696;
}

.btn-weight {
  background-color: #132e65;
}
.btn-weight:hover {
  background-color: #204692;
}

.content {
  padding: 2vh;
  background-image: linear-gradient(
    #27052b,
    #240d35,
    #1d1137,
    #13123b,
    #061b3f
  );
  height: 66vh;
}

.content-container {
  padding: 4rem 0;
  font-size: 1.2rem;
  font-weight: bolder;
  background-color: #ffffff;
  width: 40rem;
  border-radius: 12px;
  margin: 0 auto;
}

.conv_units {
  padding: 0 0 3rem 0;
}

.conv_units select {
  font-size: 1.2rem;
  width: 12em;
  padding: 0.5rem;
  margin: 0 1rem;
}

#input-value {
  font-size: 1.2rem;
  text-align: center;
  width: 30rem;
  padding: 0.5rem;
  margin: 0 1rem;
}

.submit-input {
  font-family: "Montserrat", sans-serif !important;
  font-size: 1.5rem;
  width: 10em;
  cursor: pointer;
  margin: 2rem 0.5rem;
  padding: 0.6em 0;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  background-color: #251c59;
}

.conv-value {
  font-size: 2rem;
  color: #132e65;
}

@media (max-width: 680px) {
  .btn-container button {
    display: block;
    margin: 0.5em auto;
  }

  .header {
    height: 35vh;
  }

  .content-container {
    width: 75vw;
  }

  .conv_units {
    padding: 0 0 2rem 0;
  }

  .conv_units select {
    display: block;
    margin: 0.5rem auto;
  }

  #input-value {
    width: 55vw;
  }
}
