@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  font-family: "Montserrat", sans-serif !important;
  margin: 0;
  text-align: center;
  background: url("img/background.jpg");
}

h1 {
  font-size: 3rem;
  margin: 0.5em 0;
}

.header {
  padding: 3vh 0;
  background-color: #faf7ee;
  color: #1d4b40;
}

.btn-container {
  margin: 0.5em 0 2em 0;
}

.header button {
  font-family: "Montserrat", sans-serif !important;
  font-size: 1.5rem;
  width: 8em;
  cursor: pointer;
  margin: 0 0.5rem;
  padding: 0.6em 0;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  background-color: #5db390;
}

.header button:hover {
  background-color: #6bd2a9;
}

.content {
  background-color: #1d4b40;
  height: 74vh;
}

@media (max-width: 660px) {
  .btn-container button {
    display: block;
    margin: 0.5em auto;
  }
}
